<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Energy Conservation</title>
    <link rel="stylesheet" href="greet_page.css">
</head>
<body>
    <div class="logo">Energy <span>Conservation</span></div>
    <div class="container">
        <h1 id="greeting">Welcome, <%= name %>!</h1>
        <p id="message">Welcome to the Energy Conservation Hub. Here, you'll find valuable tips to help you save energy and reduce your environmental impact.</p>
        <a href="/home" class="button" id="getStarted">Get Started</a>
        <!-- <button type="button" onclick='window.location.href="/path/to/home.ejs"' class="button" id="getStarted">Get Started</button> -->

    </div>

    <!-- <script>
        function redirectToHome() {
            // Redirect to the home page
            window.location.href = "/home";
        }
    </script> -->
</body>
</html>