<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Energy Conservation</title>
  <link rel="stylesheet" href="home-styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <center>
      <header>
        <div style="display:flex;justify-content: space-between;">
          <h1 style="margin-left: 550px;">Energy Conservation Hub </h1>
          <h1 style="margin-top: 35;margin-right: 60px;" class="button"> User: <%= name %> </h1>
        </div>
      </header>
    </center>


    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    
    <div class="sidebar">
      <header>MENU</header>

      <a href="#">
        <i class="fas fa-stream"></i>
        <span>Home</span>
      </a>
      <a href="#" class="active">
        <i class="fas fa-qrcode"></i>
        <span>Games</span>
      </a>
      <a href="#">
         <i class="fas fa-calendar"></i>
        <span>Events</span>
      </a>
      <a href="#">
        <i class="far fa-question-circle"></i>
        <span>About us</span>
      </a>
      <a href="#contacts">
        <i class="far fa-envelope"></i>
        <span>Contact</span>
      </a>
    </div>

      <section style="background-color: lightgreen;margin-top: -25%;">
        <h2>Welcome</h2>
        <h4>Welcome to our energy conservation guide. Here, you'll find valuable tips to help you
          save energy and reduce your environmental impact.</h4>
      </section>
      <section>
      <br>

      <center>
          <div class="tips">
            <h2 style="margin-left: 290px;color: black;"><strong>Energy Saving Tips</strong></h2>
            <div class="tip">
              <h3>1. Use Energy-Efficient Appliances</h3>
              <p>Upgrade to appliances with the ENERGY STAR label to save electricity and
                reduce your utility bills.</p>
            </div>
            <div class="tip">
              <h3>2. Turn Off Lights When Not in Use</h3>
              <p>Remember to turn off lights and electronics when leaving a room to conserve
                energy.</p>
            </div>
            <div class="tip">
              <h3>3. Adjust Thermostat Settings</h3>
              <p>Set your thermostat to an energy-saving temperature when you're away or asleep
                to save on heating and cooling costs.</p>
            </div>
            <div class="tip">
              <h3>4. Unplug Chargers and Devices</h3>
              <p>Unplug chargers and electronic devices when they're not in use to prevent energy
                wastage.</p>
            </div>
          </div>
        </section>
        <div class="tip" style="background-color: aquamarine;width:750px;height:40px;margin-right: 100px;margin-left: 370px;padding: 0.6%;border: 1px solid black;text-align:center;">
          <h3>
            In case you have any queries please contact the website <a href="/query">www.queries.org</a>
          </h3>
        </div>
      </center>
  
  <footer id="contacts">
    <p>&copy;  2023 Energy Conservation Guide</p>
    <p> Contact Number : 8072566972</p>
  </footer>
</body>
</html>
