<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login_styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome Back!</h1>
        <form action="/greet" method="post" onsubmit="return authenticate()">
            <input type="text" placeholder="Username" id="username" name="Username">
            <input type="password" placeholder="Password" id="password">
            <button type="submit">Login</button>
        </form>
        <div class="query">
            <p>Are you new here? <a href="/">Sign up</a></p>
        </div>
    </div>

    <script>
        function authenticate() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            if (username !== "" && password !== "") {
                return true;
            } else {
                alert("Please enter your username and password.");
                return false;
            }
        }
    </script>
</body>
</html>
