body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(204, 255, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: rgb(5, 249, 152);
    color: black;
    text-align: center;
    padding: 20px;
  }
  
  section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    color: #333;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }